@import "sass/fonts";

//colors
$background-grey: rgba(216, 216, 216, 0.16);
$black: #000000;
$shadow: rgba(0, 0, 0, 0.08);
$white: #ffffff;

// fonts
$roboto-regular: "RobotoRegular";
$roboto-medium: "RobotoMedium";
$roboto-light: "RobotoLight";
