@import "sass/shared";

body {
  border: 0;
  margin: 0;
  padding: 0;
}

.Portfolio {
  background-color: $alabaster;
  min-width: 330px;
}

.Portfolio-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 16px 0 $dark-shadow;
  min-height: 100vh;
  text-align: center;
}

.Portfolio-header--icon {
  color: $alabaster;
  cursor: pointer;
  margin: 15px 10px;

  &.fa {
    font-size: 32px;
  }

  &:hover {
    color: $hover-green;
  }
}

.Portfolio-header-title {
  bottom: 0;
  display: inline;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 100%;
}

.Portfolio-section {
  margin: 0 auto;
  max-width: 990px;
  padding: 15px 0;
}

.Portfolio-section--header {
  color: $bastille;
  font-family: $roboto-medium;
  margin: 0 15px 15px;
}

.Portfolio-section--about {
  color: $bastille;
  margin: 15px 15px 0;
}

.Portfolio-section--me {
  @include box-shadow;

  border-radius: 100px;
  display: block;
  height: 175px;
  margin: 0 auto;
}

.Portfolio-section--bio {
  display: inline-block;
  font-family: $roboto-regular;
}

.Typist {
  display: inline-block;
  font-family: $roboto-regular;
  font-size: 48px;
  color: $alabaster;
}

.Portfolio-down-arrow {
  bottom: 50px;
  cursor: pointer;
}

@media (min-width: $md) {
  .Portfolio-section--me-container {
    display: inline-block;
    width: 25%;
  }

  .Portfolio-section--bio {
    position: relative;
    top: -60px;
    width: 73%;
  }
}
