@import "../../sass/shared";

.Posts {
  @include card-container;
  flex-direction: column;
}

.Posts-item {
  @include card-item;
}

.Posts-item--img {
  @include card-item-img;
}

.Posts-item--title {
  @include card-item-title;

  margin-left: 5px;
  margin-right: 5px;
}

.Posts-item--date {
  font-family: $roboto-light;
  font-size: 12px;
}

.Posts-item--link {
  flex: 1;
  margin-bottom: 15px;
}

@media (min-width: $md) {
  .Posts {
    justify-content: center;
  }

  .Posts-item--link {
    flex: 0;
  }
}

@media (min-width: $lg) {
  .Posts {
    justify-content: flex-start;
  }
}
