@import "../../sass/shared";

.Projects {
  @include card-container;
}

.Projects-item {
  @include card-item;
}

.Projects-item--link {
  flex: 1;
  margin-bottom: 15px;
}

@media (min-width: $md) {
  .Projects-item--link {
    flex: 0;
  }
}
