@import "sass/shared";

.Posts {
  text-align: center;
}

.Posts-item {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 $shadow;
  color: #333333;
  display: inline-block;
  margin: 0 15px 15px;
  overflow: hidden;
  text-decoration: none;
  width: 300px;
}

.Posts-item--img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 300px;
  width: 100%;
}

.Posts-item--title {
  font-family: $roboto-medium;
  height: 75px;
}

.Posts-item--date {
  font-family: $roboto-light;
  font-size: 12px;
}
